<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection"
         connectionString="Data Source=.;Initial Catalog=wpfTrain;Integrated Security=True;Encrypt=false;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>